@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --corA: #36A3CF;
    --corB: #548497;
    --corC: #226681;
    --corD: #74B5CF;
    --corE: #153E4F;
}

body{
    background-image: linear-gradient(180deg, var(--corB), var(--corD));
    height: 100vh;
    background-attachment: fixed;
}



.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
  
  }
  
  .loading label {
    font-size: 24px;
  }
  
  button.fab {
    width: 3.375em;
    height: 3.375em;
    border-radius: 3.125em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0.125em 0.125em 0.125em gray;
  }
  
  button.fab.fixed{
    position: fixed;
  }
  
  button.fab.bottom{
    bottom: 1.5em;
  }
  
  button.fab.right{
    right: 1.5em;
  }
  
  button.fab.left{
    left: 1em;
  }

  button.fab.top{
    top: 0.75em;
  }
  